<section class="bg-light py-5">
  <div class="container px-4">
    <div class="row align-items-center">

      <div class="col-lg-7 text-center text-lg-start mb-4 mb-lg-0">
        <h1 class="display-4 fw-bold text-dark">Welcome to EventHub</h1>
        <p class="lead fs-4 text-muted">
          Discover and participate in the most exciting university events.
        </p>

        <%= link_to "Browse Events", events_path, class: "btn btn-primary btn-lg px-4" %>
        
      </div>

      <div class="col-lg-5">
        <%= image_tag "Uandes.jpg", class: "img-fluid rounded-3 shadow" %>
      </div>

    </div>
  </div>
</section>

<section class="container my-5 py-5">
  <div class="row g-5">

    <div class="col-lg-6 text-justify">
      <h3 class="fw-bold">About Us</h3>
      <p class="text-muted">
        Welcome to our university events page! We are dedicated to providing students with a wide range of exciting and engaging events throughout the academic year. From cultural festivals and sports competitions to academic conferences and social gatherings, we strive to create a vibrant campus community where students can connect, learn, and have fun. Our events are designed to foster creativity, promote diversity, and encourage collaboration among students from all backgrounds.
      </p>
    </div>

    <div class="col-lg-6 text-justify">
      <h3 class="fw-bold">Contact Us</h3>
      <p class="text-muted">
        If you have any questions, suggestions, or would like to get involved with our events, please don't hesitate to reach out to us. You can contact us via email at:
      </p>

      <a href="mailto:trmelin@miuandes.cl">trmelin@miuandes.cl</a>
      or
      <a href="mailto:mnkarl@miuandes.cl">mnkarl@miuandes.cl</a>
    </div>

  </div>
</section>
