<div class="container my-5">
  <div class="card shadow p-4">
    <h1>Create New Venue</h1>
    
    <%= render 'form', venue: @venue %>
    
    <%= link_to "Cancel", venues_path, class: "btn btn-secondary mt-3" %>
  </div>
</div>