<div class="container my-5">
  <div class="card shadow p-4">
    <h1>Edit Category</h1>
    
    <%= render 'form', category: @category %>
    
    <%= link_to "Cancel", @category, class: "btn btn-secondary mt-3" %>
  </div>
</div>